@font-face {
    font-family: Nexa;
    src: url(/src/assets/font/Nexa.woff);
}

@font-face {
    font-family: SFProDisplay-Regular;
    src: url(/src/assets/font/SFProDisplay-Regular.woff);
}

.header {
    font-family: Nexa;
    font-size: 40px;
    text-transform: uppercase;
}

.header-menu{
    font-family: Nexa;
    font-size: 33px;
    text-transform: uppercase;
}