@font-face {
    font-family: Nexa;
    src: url(../font/Nexa.woff);
}

@font-face {
    font-family: SFProDisplay-Regular;
    src: url(../font/SFProDisplay-Regular.woff);
}

.header {
    font-family: Nexa;
    font-size: 40px;
    text-transform: uppercase;
}

.header-menu{
    font-family: Nexa;
    font-size: 33px;
    text-transform: uppercase;
}

.header-detail{
    font-family: Nexa;
    font-size: 25px;
    text-transform: uppercase;
}

.sub-script{
    font-size: 15px;
    text-transform: uppercase;
}

.sub{
    font-size: 15px;
}