html {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
}

body {
    font-family: SFProDisplay-Regular;
    background: url('../img/maps.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas:hover {
    pointer-events: none;
}

.navi {
    padding-left: 100px;
    background-color: $trans-black;
    color: $white;
}

#sources {
    margin-inline-end: -94px;
}

.background {
    background: rgba(255, 255, 255, 0.5);
}

.center {
    text-align: center;
}

.main-menu {
    margin-left: 2%;
    padding: 2%;
}

.side-menu {
    padding: 2%;

    border-radius: 0 0 0 10px;
    padding-top: 30px;
}

.footer {
    text-align: center;
    color: $white;
    background-color: $trans-black;
}

.row {
    margin-right: 0px;
}

.filter-white {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.detail {
    padding: 20px 40px;
    text-align: left;
}

.confirmed {
    height: 100px;
    background: url('../img/confirmed.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.recovered {
    height: 100px;
    background: url('../img/recovered.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.deaths {
    height: 100px;
    background: url('../img/deaths.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.total {
    height: 100px;
    background: url('../img/virusTotal.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    cursor: pointer;
    transition: 300ms;
}

.btn:hover {
    text-decoration: underline;
    transition: 300ms;
}

.active {
    background-color: $trans-black;
    color: $white;
}

#menu {
    border-bottom: solid 1px $trans-black;
}

#blocker {
    position: absolute;
    height: 500px;
    width: 90%;
    background-color: transparent;
    top: 260px;
}

.borRight {
    border-right: solid 1px $trans-black;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.dataTables_filter input { width: 350px;}