/* For general mobile phone layouts */
@media screen and (max-width: 1024px) {
    .navi {
        padding: 20px !important;
        text-align: center;

        & #container-icon {
            margin-left: 33%;
        }

        & #virus-icon {
            margin-bottom: -40px;
        }
    }

    #main-menu {
        & article {
            padding: 20px 20px 0 20px;

            & #country {
                margin-left: 0px !important;
                width: 100% !important;
            }
        }
    }

    #side-menu {
        padding: 30px 20px 30px 40px;
    }
}

/* For general iPad layouts */
@media only screen and (device-width: 768px) {
    .navi {
        padding: 0px !important;
        text-align: center;

        & #container-icon {
            margin-left: 3%;
        }

        & #title{
            margin-top: -100px;
            margin-left: 15%;
        }

        & #sources{
            margin-left: -100px;
            margin-inline-end: -54px;
        }
    }

    #main-menu {
        
        & #right-area{
            width: 143% !important;
        }

        & #left-area{
            width: 430% !important;
            margin-top: 810px;
            margin-left: -545px;
        }
    }
}

/* For general iPad-Pro layouts */
@media only screen and (device-width: 1024px) {
    
}