@media screen and (max-width: 1024px) {
    .navi {
        padding: 20px !important;
        text-align: center;

        & #container-icon{
            margin-left: 33%;
        }

        & #virus-icon{
            margin-bottom: -40px;
        }
    }

    #main-menu{
        & article{
            padding: 20px 20px 0 20px;

            & #country{
                margin-left: 0px !important;
                width: 100% !important;
            }
        }
    }
}