html {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    background: url('../img/maps.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
}